/*
  github.com/griimnak
 */
* { box-sizing: border-box; }

body {
  background-color: rgba(28, 28, 28, 1);
  color: #fcfcfc;
  font: normal 14px 'Raleway', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/*
  ----- Header
 */
.header { min-height: 355px }
.header .inner {
  max-width: 1028px;
  display: table;
  margin: 130px auto 0;
  padding: 10px;
}

.header .inner img {
  border: 1px solid transparent;
  border-radius: 6px;
  max-height: 240px;
  max-width: 240px;
  display: table-cell;
}
.header .inner h2 {
  font-size: 38px;
  font-weight: 300;
  display: table-cell;
  line-height: 1.10;
  height: 100%;
  padding-top: 70px;
  vertical-align: top;
}
.header .inner h2 span { font-size: 26px; opacity: 0.8}
.header .inner h2 span::before { content: "\A"; white-space: pre }

/*
  ----- Explore
 */
.explore {
  background-color: #222;
  border-top: 1px solid #131313;
  margin: 0 auto;
}
.explore .heading {
  padding-top: 56px;
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 5px;
}
.explore .hint {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  max-width: 605px;
  opacity: 0.8;
}

.explore .git_container {
  max-width: 1012px;
  margin: 50px auto 0;
  min-height: 368px;
}

.explore .git_container .item {
  border: 1px solid #131313;
  display: inline-block;
  margin:10px;
  border-radius: 3px;
  background-color: rgba(28, 28, 28, 1);
  box-shadow: 0 1px 1px rgba(27,31,35,0.1);
  width: 307px;
  min-height: 33px;
  vertical-align: top;
}
.explore .git_container .item .desc {
  margin-top: -7px;
  margin-bottom: -7px;
  padding: 15px;
}

.explore .git_container .item .desc p {opacity: 0.8;}
.explore .git_container .item .desc p, h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 280px;
  display: block;
  overflow: hidden
}

.explore .git_container .item .git_btns {
  padding: 10px 0;
  border-top: 1px solid #131313;
}

.explore .git_container .item .git_btns .git_cloud { padding-left: 13px; }
.explore .git_container .item .git_btns .git_star { padding-left: 10px; }
.explore .git_container .item .git_btns .git_contrib {
  float: right;
  padding-right: 10px;
}

.explore .git_container .item .git_btns .git_contrib img {
  width: 24px;
  height: 24px;
}

.git_cloud, .git_star { text-decoration: none; color:#fcfcfc; }
.git_more {
  margin: 0 auto;
  text-align: center;
  max-width: 181px;
  padding: 40px 0 60px;
}

.git_more .more_btn {
  background-color: rgba(28, 28, 28, 1);
  border: 1px solid #131313;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(27,31,35,0.1);
  color: #fcfcfc;
  display:block;
  padding: 10px 10px;
  text-decoration: none;
}

.git_more .more_btn:hover { transform: scale(1.1); }
.git_more .more_btn img { padding-right:5px; }

/*
  ----- Footer
 */
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  color: #888;
  height: 80px;
}

.footer .main_text { text-align: right; padding: 15px 10px 0; }
.footer .small {
  font-size: 11px;
  text-align: right;
  margin-top: -6px;
  padding: 0 10px 10px;
  opacity: 0.8;
}

.footer .small a { text-decoration: none; color: #fcfcfc; }

/* -------------------------------------------------------------------------- */
/*
  ----- Generic classes
 */
.right { float:right; }
.inline { display: inline; }
.responsive {
  max-width: 1000px;
  margin: 40px auto 0;
  display: block;
}

.anim_fade_in { animation: anim_fade_in 1s; }
.anim_shine { animation: anim_shine 1s; }

/*
  ----- Responsive tweaks
 */
@media only screen and (max-width: 1005px) {
  .explore .git_container .item {
    width: 47%;
    margin: 0 10px 20px;
  }
}

@media only screen and (max-width: 743px) {
  .explore .git_container .item {
    width: 100%;
    margin: 0 0 20px;
  }

  .header .inner h2 { font-size: 34px; }
  .header .inner span { font-size: 22px; }
  .explore .hint { font-size: 14px; }
  .explore .heading { font-size: 44px; }
}

@media only screen and (max-width: 560px) {
  .header .inner { display: block; margin: 80px auto 25px; }
  .header .inner img {
    width: 50%;
    margin: 0px auto;
    display: block;
    height: auto;
  }

  .header .inner h2 {
    display: block;
    padding-top: 10px;
    text-align: center;
  }
}

/* Phone */
@media only screen and (max-width: 380px) {
  .header .inner h2 { font-size: 32px; }
  .header .inner span { font-size: 23px !important; }
}

/*
  --------- Keyframe animations
 */
@keyframes anim_fade_in {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@keyframes anim_shine {
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
